$barHeight: 40px;
$dropBoxSize: 200px;
$menuColour: #555555;

@mixin translate-mixin($xVal, $yVal) {

  -ms-transform: translate($xVal, $yVal);
  -webkit-transform: translate($xVal, $yVal);
  -moz-transform: translate($xVal, $yVal);
  transform: translate($xVal, $yVal);

}

@mixin dropShadow-mixin($xShadow, $yShadow, $alpha) {
  
  -webkit-box-shadow: $xShadow $yShadow 0px 0px rgba(0,0,0, $alpha);
  -moz-box-shadow: $xShadow $yShadow 0px 0px rgba(0,0,0, $alpha);
  box-shadow: $xShadow $yShadow 0px 0px rgba(0,0,0, $alpha);
  
}

* {

  box-sizing: border-box;

}

body {

  margin:  0px;
  overflow: hidden;
  background-color: #494444;

}

canvas {
  
  z-index: 100000;
  
}

.container {
  
  overflow: hidden
  
}

#imgInput {

  width:  $dropBoxSize;
  height: $dropBoxSize;

  visibility: hidden;

}

.specular {
  
}

#topBar {

  background-color: $menuColour;
  color: white;

  position: relative;
  height:  $barHeight;
  padding: 10px;
  
  @include dropShadow-mixin(0px, 5px, 0.05);
  
  z-index: 3;

}

.centered {

  position: absolute;

  left:    50%;
  right:   50%;
  top:     50%;
  bottom:  50%;

  @include translate-mixin(-50%, -50%);

}

#dragDrop {

  @extend .centered;
  
  background-color: #555;
  
  width:   200px;
  height:  200px;

  border-radius: 30px;

  cursor: pointer;
  
  @include dropShadow-mixin(5px, 5px, 0.05);

  //overflow: hidden;

}

#dragDrop p {

  text-align: center;
  margin: 0px;

  margin-top: 50%;

  @include translate-mixin(0%, -50%);

  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 11pt;

}

#dragDrop p span {

  font-weight: bold;
  font-size: 18pt;

}

#dispImg {

  @extend .centered;
  
  visibility: hidden

}

#actionButton {

  background-color: $menuColour;
  color: white;

  width:         60px;
  height:        60px;

  position: absolute;

  right:         50px;
  bottom:        50px;

  border-radius: 50%;

  font-family: "Courier New";
  font-size:     35pt;
  
  cursor: pointer;
  
  @include dropShadow-mixin(5px, 5px, 0.05);
  
}

#actionButton i {
  
  position: absolute;
  
  left: 30px;
  top: 30px;
  
  @include translate-mixin(-50%, -50%);
  
}

#addSign {
  
  position: absolute;
  left: 16px;
  top: 3px;

}